/__pycache__
.env
.env.*
/core/__pycache__
/apps/accounts/__pycache__
/apps/organizations/__pycache__
/apps/memberships/__pycache__
/apps/projects/__pycache__
/apps/tasks/__pycache__
/apps/billings/__pycache__
/apps/auditlogs/__pycache__
/apps/common/__pycache__
/apps/__pycache__
/apps/accounts/migrations/__pycache__
/apps/organizations/migrations/__pycache__
/apps/memberships/migrations/__pycache__
/apps/projects/migrations/__pycache__
/apps/tasks/migrations/__pycache__
/apps/billings/migrations/__pycache__
/apps/auditlogs/migrations/__pycache__